.container{
    width: 970px;
}
a{
    color: cyan;
}

body{
    background: rgb(69, 69, 197);
}
h1{
    color: white;
    background: red;
    padding: 10px;
    border-radius: 10px;
}
#links_pannel{
    background: seagreen;
    color: lightcyan;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

#main_content{
    background: rgb(1, 1, 17);
    color: lightgrey;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 700px;
}

#bottom{
    background: grey;
    color: lightgrey;
    padding: 10px;
    border-radius: 10px;
}
.info{
    color: rgb(62, 89, 236)
}